html {
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

#header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: 0 0 5px 5px rgb(185, 185, 185);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 10;
}

#header-logo-container{
    text-align: center;
    width: 30%;
}

#header > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

main {
    margin: 100px 50px 20px 50px;
    position: relative;
}


#footer {
    box-shadow: 0 0 5px 5px rgb(185, 185, 185);
    width: 100%;
    text-align: center;
    color: gray;
    bottom: 0;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
}

#footer > * {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.user-info-list {
    list-style-type: none;
    padding: 0;
}

.user-info-list > li {
    padding: 10px 0;
}

.operation-info {
    color: red;
}

.track-container{
}

.meal-container {
}

.meal-header {
    padding: 5px 10px;
    box-shadow: 0 0 5px black;
    margin: 10px 0;
}

.meal-title-and-plus {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meal-header * {
    margin: 0;
}


.eaten-list-container * {
    margin: 0;
}

.eaten-element {
    border-bottom: 1px solid gray;
    padding: 5px 10px;
}

.eaten-element > div {
    display: flex;
    justify-content: left;
}

.eaten-element > div > p{
    width: 25%;
}

.eaten-element > div:last-child {
    color: gray;
}

.eaten-list-container {
    padding: 0px 10px;
}

.eaten-list-container > div:last-child {
    border: none;
  }