html {
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

#header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: 0 0 5px 5px rgb(185, 185, 185);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 10;
}

#header-logo-container{
    text-align: center;
    width: 30%;
}

#header > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

main {
    margin: 100px 50px 20px 50px;
    position: relative;
}


#footer {
    box-shadow: 0 0 5px 5px rgb(185, 185, 185);
    width: 100%;
    text-align: center;
    color: gray;
    bottom: 0;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
}

#footer > * {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.user-info-list {
    list-style-type: none;
    padding: 0;
}

.user-info-list > li {
    padding: 10px 0;
}

.operation-info {
    color: red;
}

.meal-header {
    padding: 5px 10px;
    box-shadow: 0 0 5px black;
    margin: 10px 0;
}

.meal-title-and-plus {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meal-header * {
    margin: 0;
}


.eaten-list-container * {
    margin: 0;
}

.eaten-element {
    border-bottom: 1px solid gray;
    padding: 5px 10px;
}

.eaten-element > div {
    display: flex;
    justify-content: space-around;
}

.eaten-list-container {
    padding: 0px 10px;
}

.eaten-list-container > div:last-child {
    border: none;
}

.daily-stats-container {
    display: flex;
    justify-content: space-around;
}

.daily-stats-container > div > p:first-child {
    font-size: 20px;
}

.user-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.moment-of-day-nutritions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.track-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.shopping-list-ul {
    list-style-type: none;
    padding: 0;
}

.shopping-list-ul > li {
    padding: 10px 0;
}

.shopping-list-ul li input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

.green-line{
    color: green;
}

.red-line{
    color: red;
}

.products-list-container {
    display: flex;
    flex-direction: column;
}

.products-list-header {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.products-list-elements-container > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.products-list-elements-container > div > p {
    margin: 5px;
}

.products-list-filters-container > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
}