<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat&Live</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "/css/styles.css" %}">
</head>
<body>
    

    <header id="header">
        <div id="header-logo-container">
            <p>Eat&Live</p>
        </div>
        <ul id="header-list">
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'add_product' %}">Add Product</a></li>
            <li><a href="{% url 'shopping_list' %}">Shopping List</a></li>
            <li><a href="{% url 'recipe_list' %}">Recipes</a></li>
            <li><a href="{% url 'userpage' %}">My Profile</a></li>
            <li><a href="{% url 'logout' %}" onclick="logout_popup()">Logout</a></li>
            {% else %}
            <li><a href="/calculators/">Calculators</a></li>
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
            {% endif %}

            {% if user.is_superuser %}
            <li><a href="/admin/">Admin Panel</a></li>
            {% endif %}

        </ul>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer id="footer">
        <p>Aleksandra Sobiesiak, Adrian Stahl</p>
        <p>2023</p>
    </footer>
    <script>
        function logout_popup(){
            window.alert("You logged out!");
        }
    </script>
</body>
</html>