{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    {% if user.is_authenticated %}
        <h3>Hello {{user.username}}</h3>
        <div class="track-date-container">
            <a href="{% url 'home2' date=previous_date %}"><button><</button></a>
            <h3>{{ date }}</h3>
            <a href="{% url 'home2' date=next_date %}"><button>></button></a>
        </div>
        <div class="track-container">
            {% for choice in moment_of_day_choices %}
            <div class="meal-container">
                <div class="meal-header">
                    <div class="meal-title-and-plus">
                        <p>{{ choice.1 }}</p>
                        <a href="{% url 'add_meal' moment_of_day=choice.0 %}">+</a>
                    </div>
                    <div class="moment-of-day-nutritions">
                        {% if choice.0 == "BREAKFAST" %}
                            <p>{{ calculated_nutritions.breakfast.calories }} kcal</p>
                            <p>{{ calculated_nutritions.breakfast.proteins }} g proteins</p>
                            <p>{{ calculated_nutritions.breakfast.fats }} g fats</p>
                            <p>{{ calculated_nutritions.breakfast.carbons }} g carbons</p>
                        {% elif choice.0 == "BRUNCH" %}
                            <p>{{ calculated_nutritions.brunch.calories }} kcal</p>
                            <p>{{ calculated_nutritions.brunch.proteins }} g proteins</p>
                            <p>{{ calculated_nutritions.brunch.fats }} g fats</p>
                            <p>{{ calculated_nutritions.brunch.carbons }} g carbons</p>
                        {% elif choice.0 == "LUNCH" %}
                            <p>{{ calculated_nutritions.lunch.calories }} kcal</p>
                            <p>{{ calculated_nutritions.lunch.proteins }} g proteins</p>
                            <p>{{ calculated_nutritions.lunch.fats }} g fats</p>
                            <p>{{ calculated_nutritions.lunch.carbons }} g carbons</p>
                        {% elif choice.0 == "SNACK" %}
                            <p>{{ calculated_nutritions.snack.calories }} kcal</p>
                            <p>{{ calculated_nutritions.snack.proteins }} g proteins</p>
                            <p>{{ calculated_nutritions.snack.fats }} g fats</p>
                            <p>{{ calculated_nutritions.snack.carbons }} g carbons</p>
                        {% elif choice.0 == "DINNER" %}
                            <p>{{ calculated_nutritions.dinner.calories }} kcal</p>
                            <p>{{ calculated_nutritions.dinner.proteins }} g proteins</p>
                            <p>{{ calculated_nutritions.dinner.fats }} g fats</p>
                            <p>{{ calculated_nutritions.dinner.carbons }} g carbons</p>
                        {% endif %}
                    </div>
                </div>
                <div class="eaten-list-container">
                    {% for meal in meal_logs %}
                        {% if meal.moment_of_day == choice.0 %}
                        <div class="eaten-element">
                            <div>
                                <p>{{ meal.product.name }}</p>
                                <p>{{ meal.amount }} g</p>
                                <a href="{% url 'update_meal' meal_log_id=meal.pk %}">
                                    <button>edit</button>
                                </a>
                                <a href="{% url 'add_favourite_product' meal_log_id=meal.pk %}">
                                    <button>love</button>
                                </a>
                            </div>

                            <!-- <div>
                                <p> x kcal</p>
                                <p> x g protein</p>
                                <p> x g fats</p>
                                <p> x g carbons</p>
                            </div> -->
                            
                        </div>
                            
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="daily-stats-container">
            <div>
                <p>Calories</p>
                <p class="
                {% if calculated_nutritions.all_nutritions.calories <= daily_needs.0 %}
                    green-line
                {% else %}
                    red-line
                {% endif %}">{{ calculated_nutritions.all_nutritions.calories }} / {{ daily_needs.0 }} kcal</p>
            </div>
            <div>
                <p>Proteins</p>
                <p class="
                {% if calculated_nutritions.all_nutritions.proteins <= daily_needs.1.1 and calculated_nutritions.all_nutritions.proteins >= daily_needs.1.0 %}
                    green-line
                {% else %}
                    red-line
                {% endif %}">{{ calculated_nutritions.all_nutritions.proteins }} / {{ daily_needs.1 }} g</p>
            </div>
            <div>
                <p>Fats</p>
                <p class="
                {% if calculated_nutritions.all_nutritions.fats <= daily_needs.2.1 and calculated_nutritions.all_nutritions.fats >= daily_needs.2.0 %}
                    green-line
                {% else %}
                    red-line
                {% endif %}">{{ calculated_nutritions.all_nutritions.fats }} / {{ daily_needs.2 }} g</p>
            </div>
            <div>
                <p>Carbons</p>
                <p class="
                {% if calculated_nutritions.all_nutritions.carbons <= daily_needs.3.1 and calculated_nutritions.all_nutritions.carbons >= daily_needs.3.0 %}
                    green-line
                {% else %}
                    red-line
                {% endif %}">{{ calculated_nutritions.all_nutritions.carbons }} / {{ daily_needs.3 }} g</p>
            </div>
        </div>
        <div class="daily-stats-container">
            <div>
                <p>Water</p>
                <p class="
                {% if water >= max_water %}
                    green-line
                {% else %}
                    red-line
                {% endif %}"> {{ water }} / {{ max_water }} ml</p>
            </div>
            <div>
                <p>Training</p>
                <p> {{ burned_calories }} kcal</p>
            </div>
            <a href="{% url 'update_extra' date=date %}">
                <button>edit</button>
            </a>
        </div>


    {% else %}
        <p>Home page content</p>
    {% endif %}
{% endblock content %}