{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    {% if user.is_authenticated %}
        <h3>Hello {{user.username}}</h3>
        <div class="track-container">
            {% for choice in moment_of_day_choices %}
            <div class="meal-container">
                <div class="meal-header">
                    <div class="meal-title-and-plus">
                        <p>{{ choice.1 }}</p>
                        <a href="{% url 'add_meal' moment_of_day=choice.0 %}">+</a>
                    </div>
                    <p>x kcal</p>
                </div>
                <div class="eaten-list-container">
                    {% for meal in meal_logs %}
                        {% if meal.moment_of_day == choice.0 %}
                        <div class="eaten-element">
                            <div>
                                <p>{{ meal.product.name }}</p>
                                <p>{{ meal.amount }} g</p>
                                <p> ilosc (w porcji)</p>
                                <button>edit</button>
                            </div>

                            <div>
                                <p> x kcal</p>
                                <p> x g protein</p>
                                <p> x g fats</p>
                                <p> x g carbons</p>
                            </div>
                            
                        </div>
                            
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>


    {% else %}
        <p>Home page content</p>
    {% endif %}
{% endblock content %}