{% extends 'base.html' %}
{% block content %}
<h1>{{ recipe.name }}</h1>
<h2>Description: </h2>
<h4>{{ recipe.description }}</h4>

<h2>Ingredients: </h2>
<ul>
    {% for recipe_detail in recipe_details %}
        {% if recipe_detail.amount == -1 %}
        <li>{{ recipe_detail.product.name }} - nie określono ilości</li>
        {% else %}
        <li>{{ recipe_detail.product.name }} - {{ recipe_detail.amount }} g</li>
        {% endif %}
    {% endfor %}
</ul>
<a href="{% url 'update_recipe' recipe_id=recipe.pk %}">
    <button>Edit</button>
</a>

{% endblock %}