{% extends 'base.html' %}

{% block content %}
    <h1>Update a recipe</h1>
    <form method="post">
        <h2>Update recipe</h2>
        {% csrf_token %}
        <div class="form-group">
            <label for="recipe_name">Recipe Name: </label>
            <input type="text" id="recipe_name" name="recipe_name" value="{{ recipe.name }}" required>
        </div>
        <div class="form-group">
            <label for="recipe_description">Recipe Description:</label>
            <textarea id="recipe_description" name="recipe_description" required>{{ recipe.description }}</textarea>
        </div>
        <div class="product-for-recipe">
            {% for product in products %}
            <div>
                <input type="checkbox" name="product_ids[]" value="{{ product.id }}" id="product_{{ product.id }}">
                <label for="product_{{ product.id }}">{{ product.name }}</label>
                <input type="number" name="amounts[]" id="amount">
            </div>

            {% endfor %}
            </select>
        </div>
        <button type="submit">Update Recipe</button>
    </form>
    
    <a href="{% url 'delete_recipe' recipe_id=recipe.pk %}"><button>Delete</button></a>

{% endblock content %}